body {
    background-color: #000000;
    text-align: center;
    color: white;
}

form {

}

div#list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.movie {
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;

    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}